<h1>HTML5 Experiments to Build a slidecasting recorder</h1>
<h2>Slidecasting recorder, records audio from browser, show pdf</h2>
<h2><a href="./audio-recorder.html">Audio Record Play & Download</a></h2>
<h2><a href="./slide.html">Pdf Slideshow</a></h2>
<h2><a href="./audio-recorder-stream.html">Extend Audio Recorder, Upload data to Server</a></h2>