<h1>HTML5 Experiments to Build a slidecasting recorder</h1>
<h2>Slidecasting recorder, records audio from browser, show pdf</h2>
<h2><a href="./player.html">Audio Record Play & Save to server</a></h2>
<h2><a href="./slide.html">Pdf Slideshow</a></h2>
